*, ::after, ::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  
    src: local("Roboto"),
         url("../fonts/Roboto.woff") format("woff");
}

html {

}

p {
    margin: 0;
}

button {
    font-family: "Roboto", "Arial", sans-serif;
}

body {
    background-image: url("../img/pattern1.png");
    background-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
}

.gameField {
}

.questionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    background-color: black;
    background-image: url(../img/pattern3.png);
    background-size: 155px;
    color: wheat;
    font-size: 35px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 15px;
    box-shadow: inset 0 0 15px rgba(143, 143, 143, 0.5);
}

.questionBox button {
    background-color: white;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    height: 30px;
    box-shadow: inset 0 0 4px black;
}

.questionBox button:active {
    background-color: grey;
}

.controls {
    display: flex;
    justify-content: space-around;
    background-color: darkgoldenrod;
    background-image: url("../img/pattern2.png");
    background-size: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 0 55px black;
}

.control button {
    border: 0;
    outline: 0;
    height: 50%;
}

.control {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.redColor {
    color: red;
}

.blueColor {
    color: blue;
}


.currentQuestion {
    text-align: center;
    padding: 0 10px;
    padding-bottom: 15px;
}

.currentQuestion p {
    font-size: 120px;
}

.answers {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 50%;
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid white;
}

.answer:last-child {
    border: 0;
}

.point {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    font-size: 25px;
}

.pointsCurrent {
    background-color: gray;
    color: white;
    box-shadow: 
        0 0 35px black,
        inset 0 15px 25px rgba(0, 0, 0, 0.6);

}

.pointsRed {
    background-color: red;
    color: white;
    box-shadow: 
        0 0 35px black,
        inset 0 15px 25px rgba(0, 0, 0, 0.6);

}

.pointsBlue {
    background-color: blue;
    color: white;
    box-shadow: 
        0 0 35px black,
        inset 0 15px 25px rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
}

.playersBlock {
    font-size: 25px;
}

.answerBlock {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    flex-wrap: wrap;
    padding: 0 10px;
}

.questionBlock {
    padding: 0 10px;
    padding-bottom: 10px;
}

.fastMoney {
    display: flex;
    justify-content: space-between;
}

.answerText {
    display: inline;
    width: 200px;
}

.normal {
    width: auto;
    padding-right: 15px;
}

.answerBlock input {
    display: inline;
    text-align: center;
    width: 35px;
    height: 30px;
    margin: 0 50px;
    border: 0;
}

input {
    font-size: 25px;
    border-radius: 5px;
    border: 0;
    box-shadow:inset 0 0 5px rgba(100, 100, 100, 0.6);
}

input:focus {
    outline: 0;
}

.answerBlock button {
    margin-left: 10px;
    padding: 5px;
}

.tries {
    display: flex;
    flex-direction: column;
    min-width: 130px;
}

.crosses {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: royalblue;
    justify-content: space-around;
    align-items: center;
    box-shadow: 
        0 0 35px black,
        inset 0 15px 25px rgba(0, 0, 0, 0.6);
}

.crosses img {
    max-width: 30px;
    opacity: 0.5;
}

.firstPlayerDesignate {
    display: flex;
    flex-direction: column;
}

.currentColor {
    height: 100%;
    background-color: white;
    color: white;
    font-size: 25px;
    box-shadow: 
        0 0 35px black,
        inset 0 15px 25px rgba(0, 0, 0, 0.6);
}